/* Copyright 2015 Haris Cesko */

html {
    font-family: Arial;
    background-image: url('../images/bats.gif');
    background-repeat: repeat; 
}

body {
   width: 800px;
   background-color: white;
   margin: 0 auto 0 auto; 
   border: 2px solid black;
   box-shadow: 0 10px 20px 10px black;
   box-sizing: border-box;
}

#menuBar li:hover > a {
  background: grey;
  color: black;
  position: relative;
}

nav  {
  background: black;
  height: 2em;
}

nav li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 20%;
}

nav ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  background: black;
  height: 2em;
  width: 100%;
}

nav li a {
  color: white;
  display: block;
  line-height: 2em;
  text-decoration: none;
}


#menuBar li:hover > a {
  background: grey;
  color: black;
  position: relative;
}

nav li a.current {
  color: orange;
}

aside#sideBar {
    float: left;
    width: 160px;
    background-color: white;
}

aside {
  float: left;
  width: 160px;
}

aside ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

aside li {
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0 0 .2em 1em;
}

aside li:first-child {
  margin-top: 1.2em;
}

aside li a {

  background: orange;
  border: 2px solid black;
  color: black;
  display: block;
  line-height: 2em;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: .25em;
  padding-left: .75em;
  padding-right: .2em;
  text-decoration: none;

}

aside li a:last-child {
  margin-bottom: 0;
}

aside li a:hover {
  color: black;
}

header {
    border: solid black;
    background-color: orange;
    background: linear-gradient(45deg, white, orange 75%, black); 
}

h2#store {
    padding-left: 3.5em;
    margin-bottom: 0em;
    font-size: 250%;
}

h3#goblin {
    padding-left: 8em;
    margin-top: 0em;
}

h2#welcome::first-letter {
    font-size: 200%;
}

img {
    padding-top: 2em;
    padding-left: 1em;
    float: left;
}

li {
    padding-bottom: 0.5em;
}

article {
    float:right;
}

article form input{
    
    width: 20em;
    margin-bottom: 0.5em;
    font-size: 18px;
    margin-right: 3.5em;
    
}

form label {
    float: left;
    clear: both;
    width: 12em;
}

#submit {
    background-color: orange;
    margin-bottom: 1.5em;
    height: 1.5em;
    width: 8em;
    margin-right: 21em;
    border-width: 1px;
    border-color: black;
}


footer {
    clear: both;
    width: 800px;
    font-size: 60%;
    text-align: center;
    border: solid black;
    background-color: orange;
    background: linear-gradient(45deg, black, orange 75%, white);
    box-shadow: 0 0 100px black;
}


